include *.rst LICENSE
include edxclassify/saved_clf/confusion/*
include edxclassify/saved_clf/confusion_stats/*
include edxclassify/saved_clf/confusion_econ/*
include edxclassify/saved_clf/confusion_medicine/*
include edxclassify/saved_clf/confusion_humanities/*
include edxclassify/saved_clf/confusion_math/*
include edxclassify/saved_clf/confusion_technical/*
include edxclassify/saved_clf/confusion_nontechnical/*
include edxclassify/saved_clf/sentiment/*
include edxclassify/saved_clf/sentiment_stats/*
include edxclassify/saved_clf/sentiment_econ/*
include edxclassify/saved_clf/sentiment_medicine/*
include edxclassify/saved_clf/sentiment_humanities/*
include edxclassify/saved_clf/sentiment_math/*
include edxclassify/saved_clf/sentiment_technical/*
include edxclassify/saved_clf/sentiment_nontechnical/*
include edxclassify/saved_clf/opinion/*
include edxclassify/saved_clf/opinion_stats/*
include edxclassify/saved_clf/opinion_econ/*
include edxclassify/saved_clf/opinion_medicine/*
include edxclassify/saved_clf/opinion_humanities/*
include edxclassify/saved_clf/opinion_math/*
include edxclassify/saved_clf/opinion_technical/*
include edxclassify/saved_clf/opinion_nontechnical/*
include edxclassify/saved_clf/answer/*
include edxclassify/saved_clf/answer_stats/*
include edxclassify/saved_clf/answer_econ/*
include edxclassify/saved_clf/answer_medicine/*
include edxclassify/saved_clf/answer_humanities/*
include edxclassify/saved_clf/answer_math/*
include edxclassify/saved_clf/answer_technical/*
include edxclassify/saved_clf/answer_nontechnical/*
include edxclassify/saved_clf/question/*
include edxclassify/saved_clf/question_stats/*
include edxclassify/saved_clf/question_econ/*
include edxclassify/saved_clf/question_medicine/*
include edxclassify/saved_clf/question_humanities/*
include edxclassify/saved_clf/question_math/*
include edxclassify/saved_clf/question_technical/*
include edxclassify/saved_clf/question_nontechnical/*
include edxclassify/saved_clf/urgency/*
include edxclassify/saved_clf/urgency_stats/*
include edxclassify/saved_clf/urgency_econ/*
include edxclassify/saved_clf/urgency_medicine/*
include edxclassify/saved_clf/urgency_humanities/*
include edxclassify/saved_clf/urgency_math/*
include edxclassify/saved_clf/urgency_technical/*
include edxclassify/saved_clf/urgency_nontechnical/*
